<form >
  <div >
    <input required ng-model="page.title" type="text" class="form-control" placeholder="Page Title">
  </div>

  <div class="top-buffer ">
    <input ng-model="page.description" required type="text" class="form-control" placeholder="Description">
  </div>
  <div class="top-buffer ">
    <input ng-model="page.video" required type="text" class="form-control" placeholder="Video Url">
  </div>
  <div class="top-buffer ">
    <button type="submit" name="submit" ng-click="addPage()" class="btn btn-info btn-block">Add Page</button>
  </div>
</form>