<form>
  <page-information-inputs page="page"></page-information-inputs>

  <span class="error pointer" popover="Click to dismiss" popover-placement="bottom" popover-trigger="mouseenter" ng-click="editDeleteError.Message = null" ng-show="editDeleteError.Message">
          {{editDeleteError.Message}}
  </span>

  <div class="top-buffer right-buffer pull-right btn-group">
    <button ng-click="saveEdit()" class="btn btn-primary ">Save Page</button>
    <button class="btn btn-danger" ng-click="deletePage()">Delete Page</button>
    <button ng-click="cancelEdit()" class="btn btn-warning ">Cancel</button>
  </div>
</form>