<div class="col-lg-5 col-md-6">
  Page Rating:
  <rating value="page.rating" max="10" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
  youtube: {{page.video}}<br/>title: {{page.title}}<br/>rating: {{rating}}<br/>

  <div ng-bind-html="getPageDescription()"></div>
  <button class="btn btn-warning" ng-click="editPage()">edit</button>
  <br/><input type="text" ng-model="rating">
  <button class="btn btn-primary" ng-click="ratePage()">rate</button>
</div>
<div style="height:500px" class="col-lg-7 col-md-6">
  <div my-youtube code="page.video"></div>
</div>
