<div class="input-group">
  <span class="input-group-addon">Page Tite:</span>
  <input required ng-model="page.title" type="text" class="form-control" placeholder="Title">
</div>
<div class="top-buffer input-group">
  <span class="input-group-addon">Youtube Code:</span>
  <input required ng-model="page.video" type="text" class="form-control" placeholder="Youtube video code">
</div>
<div class="top-buffer">
  Below, enter the description for the video. Feel free to use HTML.
</div>
<div>
  <textarea required class="form-control" ng-model="page.description" placeholder="Description HTML" rows="3"></textarea>
</div>