<div class="well">
  <form class="form-inline">
    <fieldset>
      <label class="control-label"><strong>Email:</strong></label>
      <input type="text" ng-model="user.password" class="input-mini" >
      <label class="control-label"><strong>Password:</strong></label>
      <input type="text" ng-model="user.password" class="input-mini" >
      <input type="submit" value="Login" ng-click="login" class="btn btn-primary">
    </fieldset>
  </form>
</div>

<div ng-repeat="page in pages">
  youtube: {{page.video}}<br/>
  description: {{page.description}}<br/>
  title: {{page.title}}<br/>
  rating: {{page.rating}}<br/>
  <button class="btn btn-warning" ng-click="setPageBeingEdited(page)">edit</button><br/>
  ----------------<br/>
</div>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

  <form ng-submit="submit()">
    <div class="row">
      <input required ng-model="newPage.title" type="text" class="form-control" placeholder="Page Title">
    </div>

    <div class="top-buffer row">
      <input ng-model="newPage.description" required type="text" class="form-control" placeholder="Description">
    </div>
    <div class="top-buffer row">
      <input ng-model="newPage.video" required type="text" class="form-control" placeholder="Youtube Url">
    </div>
    <div class="top-buffer row">
      <button type="submit" name="submit" class="btn btn-info btn-block">Add Page</button>
    </div>
  </form>

  <form >
    <div class="row">
      <input ng-model="copyOfPageBeingEdited.title" type="text" class="form-control" placeholder="Page Title">
    </div>

    <div class="top-buffer row">
      <input ng-model="copyOfPageBeingEdited.description" type="text" class="form-control" placeholder="Description">
    </div>
    <div class="top-buffer row">
      <input ng-model="copyOfPageBeingEdited.video" type="text" class="form-control" placeholder="Youtube Url">
    </div>
    <div class="top-buffer btn-group">
      <button  ng-click="saveEdit()" class="btn btn-info ">Save Page</button>
      <button  ng-click="cancelEdit()" class="btn btn-warning ">Cancel</button>
    </div>
  </form>

</div>
