<p>This is the partial for view 1.</p>

<div ng-repeat="page in pages">
  youtube: {{page.youtubeLink}}<br/>
  description: {{page.description}}<br/>
  title: {{page.title}}<br/>
  rating: {{page.rating}}<br/>
  ----------------<br/>
</div>


<div ng-include="'partials/addPage.html'"></div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

  <form ng-submit="submit()">
    <div class="row">
      <input required ng-model="newPage.title" type="text" class="form-control" placeholder="Page Title">
    </div>

    <div class="top-buffer row">
      <input ng-model="newPage.description" required type="text" class="form-control" placeholder="Description">
    </div>
    <div class="top-buffer row">
      <input ng-model="newPage.youtubeLink" required type="text" class="form-control" placeholder="Youtube Url">
    </div>
    <div class="top-buffer row">
      <button type="submit" name="submit" class="btn btn-info btn-block">Add Page</button>
    </div>
  </form>
</div>
